/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.larghezza-contenuto {
    width: 75%;
    margin: 0 auto;
    padding: 40px 0;
}

.logo-discord {
    width: 100px;
}

a {
    text-decoration: none;
    color: white;
}

/*  regole pulsanti */

.forma-pulsante {
    border-radius: 20px;
    padding: 10px 20px;
}

.pulsanti-grandi {
    font-size: 20px;
    border-radius: 30px;
}

.pulsanti-bianchi {
    background-color: white;
    color: black;
}

.pulsanti-neri {
    background-color: #23272a;
}

#pulsante-freccia::before {
    content: "\2193";
    vertical-align: 3px; 
}

/* regole generali header */

.container-nav {
    padding: 20px 0 100px;
}

.container-header{
    padding: 0 0 50px ;
}

header {
    min-height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    
    
    /* debug */

    /* background-color: blue; */
}

/* regole nav */

#nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.col-lat-sx,.col-lat-dx {
    flex-grow: 1;
}

.col-lat-sx{
    display: flex;
}

.col-lat-dx{
    text-align: end;
}

#nav-header .col-centrale {
    list-style-type: none;
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* regole parte main header */

#main-header {
    width: 60%;
    margin: 0 auto;
    text-align: center;

    /* debug */

    /* min-height: 200px;
    background-color: blueviolet;
    border: 2px dotted black; */
    
}

#main-header h1{
    font-size: 80px;
    padding-bottom: 40px;
}

#main-header p {
    line-height: 1.5;
    padding-bottom: 20px;
}
#main-header a {
    margin: 10px;
}

/* regole generali main */

.container-grey{
    background-color: rgba(128, 128, 128, 0.15);
}

/* regole sezione 2 colonne */

.container-2-col {
    display: flex;
    align-items: center;
}

.immagine-discord {
    width: 40%;

    /* debug */

    background-color: red;
    min-height: 150px;
    border: 2px dotted black;
}

.testo-col {
    width: 60%;

    /* debug */

    background-color: blue;
    min-height: 150px;
    border: 2px dotted black;
}

/* regole main centrale */

.container-sezione {
    
    /* debug */
    
    background-color: green;
    min-height: 600px;
    border: 2px dotted black;
}

/* regole generali footer */

footer {
    background-color: rgb(9, 3, 27);
    min-height: 200px;
}

/* regole social e link */

.col-nav-footer {
    border-bottom: 2px solid lightblue;
    padding-bottom: 20px;
    display: flex;
}

#social{
    width: 30%;

    /* debug */

    min-height: 500px;
    background-color: brown;
    border: 2px dotted black;
}

.link-utili{
    width: calc(70% / 4);

    /* debug */

    min-height: 500px;
    background-color: aqua;
    border: 2px dotted black;
}

/* regole parte finale footer */

.col-footer {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

